.mainContainer {
    height: 100%;
    width: 100%;

    overflow: hidden;
    position: relative;
}

.background {
    height: 100%;
    width: 100%;

    position: absolute;

    background-image: url('/src/assets/images/not_found.png');
    background-position: center;
    background-size: cover;
}