.mainContainer {
    height: 100%;
    width: 100%;

    position: relative;
    overflow: hidden;
}

.backgroundContainer {
    height: 100%;
    width: 100%;
    position: absolute;

    background-image: url('../images/landing_background.png');
    background-position: center;
    background-size: cover;

    transform: scale(1.1);
    transition: .8s;
}


/*landing option component styling*/
.buttonContainer {
    height: 7%;
    width: 100%;

    position: absolute;
    display: flex;
    justify-content: space-around;
    
    bottom: 5%;
}

.optionButton {
    height: 100%;
    width: 20%;

    font-size: 1.5rem;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*form component styling*/
.credentialsFormContainer {
    position: relative;
    height: 70%;
    width: 40%;
    top: 5%;

    background-color: rgba(0, 0, 0, .5);
    margin: auto;
    padding: 5%;
}

.credentialsForm {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.errorContainer {
    background-color: rgba(255, 0, 0, 0.5);
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
}

.errorList {
    list-style: inside;
}

.fieldSet {
    display: flex;
    flex-direction: column;
}

.credentialLabel {
    color: white;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.credentialInput {
    font-size: 1.5rem
}

.formButtonsContainer {
    height: 10%;

    display: flex;
    justify-content: space-between;
}

.formButton {
    height: 100%;
    width: 30%;

    margin-left: auto;
    margin-right: auto;

    font-size: 1.5rem;
    overflow: hidden;
}